{% load static %}
<!-- /.navbar-header -->

<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{% url 'movieindex' %}"><i class="glyphicon glyphicon-th"></i> Movies Directory</a>
            </li>
            <li>
                <a href="{% url 'movieadd' %}"><i class="glyphicon glyphicon-plus-sign"></i> Add a Movie</a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->